<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title th:text="${title}">Users</title>
</head>
<body>
<form  method="post">
<label>Name</label>
    <br>
    <input type="text" name="username">
    <br>
    <label>Email</label>
    <br>
    <input type="text" name="email">
    <br>
    <br>
    <label>Password</label>
    <br>
    <input type="text" name="password">
    <br>
    <input type="submit" value="Sign Up">
</form>
</body>
</html>